[mat-fab] {
  position: absolute;
  right: 2%;
  top: 35px;
  z-index: 1;
}

.chat-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.chat-input {
  padding-top: 20px;
  width: 90%;
}

.chat-list {
  overflow: auto;
  position: fixed;
  top: 90px;
  left: 25px;
  right: 25px;
  bottom: 100px;
}

.chat-list-item {
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: #E8EAF6;
  text-align: right;
  .mat-list-avatar {
    position: absolute;
    right: 0;
    align-self: center;
  }
  [mat-line] {
    margin-right: 45px;
  }
}

.main-card {
  height: 100%;
}

.chat-footer-container {
  position:fixed;
  bottom:25px;
  left:25px;
  right:25px;
}

.chat-notification {
  text-align: center;
}
