<div class="chat-container">
  <mat-card class="main-card">
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of _chatService.messages" [ngClass]="[(message.from.uid == _chatService.user.uid)? 'chat-list-item': '']">
        <img  mat-list-avatar [src]="message.from?.avatar || 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
        <h4 mat-line>
          <b>{{message.from?.name || 'Invitado'}}</b>
        </h4>
        <p mat-line>
          <span> {{message.content}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-form-field class="chat-input">
        <input matInput
               #inputMessage
               maxlength="140"
               placeholder="Type your message"
               [(ngModel)]="messageContent"
               (keyup.enter)="sendMessage()">
        <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</div>
