<div class="wrapper">
  <mat-card col-6 col-offset-3>
    <mat-card-content>
      Ingresa con tu cuenta preferida
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="login(authTypes.GOOGLE)">Google</button>
      <button mat-raised-button color="primary" (click)="login(authTypes.TWITTER)">Twitter</button>
    </mat-card-actions>
  </mat-card>
</div>
