<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <!--<a mat-list-item href="https://luixaviles.com" target="_blank">-->
        <!--<mat-icon mat-list-icon>person</mat-icon>-->
        <!--<span mat-line>Author</span>-->
      <!--</a>-->
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Firebase Material Chat</span>
      <span class="fill-remaining-space"></span>
      <button mat-button (click)="logout()" *ngIf="_chatService.user.uid">
        Salir
      </button>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
